---
interface Props {

}

---

<div class="outer-box">
    <select name="lang" id="lang">
        <option value="ger-de" label="Deutsch"></option>
        <option value="eng-us" label="Englisch"></option>
    </select>
    <div class="inner-box">
        <p data-fact class="fact">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eveniet eius ex nobis quod dolore, iure voluptatibus incidunt mollitia eum?
        </p>
    </div>
    <button>
        Get a random fact about cats
    </button>
</div>

<style>
    .outer-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #d0d0d0;
    }

    .inner-box {
        padding: 2rem;
        margin: 1rem;
        background-color: #acacac;
    }
</style>