---
import { Icon } from "astro-icon/components";
---

<footer>
    <h2>A L</h2>
    <ul>
        <li><a href="">About Me</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="https://www.amnesty.org/en/donate/" target="_blank">DONATE!</a></li>
    </ul>
    <ul>
        <li><a href=""><Icon name="mdi:mastodon"/></a></li>
        <li><a href=""><Icon name="mdi:youtube"/></a></li>
        <li><a href=""><Icon name="mdi:instagram"/></a></li>
    </ul>
    <p>Copyright 2024™️ All rights reserved</p>
</footer>

<style>
    footer {
        position: block;
        width: 100%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 10px;
    }
    footer ul {
        list-style: none;
        margin: 20px;
        padding: 0;
    }
    footer ul>li {
        display: inline;
        padding-inline: 10px 10px;
    }
    footer a {
        text-decoration: none;
        color: gold;
        transition: color .3s ease;
        text-shadow: 0 0 1px rgba(255, 217, 0, 0.7);
    }
    footer a:hover {
        color: chocolate;
        text-shadow: none;
    }
    html.light footer a {
        text-shadow: 0 0 2px black;
    }
    html.light footer [data-icon] {
        font-size: 1.5em;
        stroke: rgba(0,0,0,0.6);
        stroke-width: 1px;
    }
</style>